.sidebar {
    background-color: #e07f72 ;
    color: white;
    padding-left: 10px;
    /* padding-right: 30px; */
    /* height: 100%; */
    /* margin-bottom: 10px; */
    /* height: 100vh;
    overflow-y: scroll; */
}

.menuNav{
    /* padding-bottom: 10px; */
    /* margin: 20px; */
    /* padding-top: 10px; */
    border-bottom: 1px solid #1976d2;
}

.menuNav p{
    padding: 10px;
}

.menuNav h2{
    font-size: 20px;
}

p:hover, h2:hover {
    color: #1976d2;
}

.menuNav button{
    cursor: pointer;
    color: white;
    background-color: #1976d2;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-size: 12px;
}

.linkStyle {
    text-Decoration: 'none'; 
    font-Size: '22px'; 
    color: 'white'
}