.exercises-title {
  margin: 0;
  margin-bottom: 12px;
}

.exercises-list {
  display: grid;
  grid-auto-rows: max-content;

  padding: 16px;
  margin: 16px;

  border-radius: 16px;
  border: 2px solid white;
}
.exercises-list-item {
  border-radius: 8px;
  border: 1px solid slategray;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.exercise-link {
  text-decoration: none;
  color: rgb(228, 241, 37);
  margin-left: 6px;
}
