.posts-section {
  display: grid;
  height: 80vh;
  grid-template-rows: 30px 30px 1fr 100px;

}

.posts-list {
  margin: 20px;
  text-align: left;
  list-style-type : none;
  overflow: scroll ;
}

.post-item {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(4, auto);
  margin: 0.5em
}

.post-item-buttons button{
  margin-left: 0.5em;
}