* {
  box-sizing: border-box;
}

h1 {
  margin: 30px 0px 10px;
}

.posts-section {
  display: grid;
  height: 80vh;
  grid-template-rows: 30px 30px 1fr 100px;
}

.users-section {
  display: grid;
  /* grid-template-rows: 30px 30px 1fr 100px; */
}

.users-list {
  margin: 20px;
  text-align: left;
  list-style-type : none;
  overflow: scroll ;
}

.user-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin: 10px;
}

.post-item-buttons button{
  margin-left: 0.5em;
}

.post-like:active {
  background-color: lightskyblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.comments{
  margin-top: 30px;
  /* margin-right: 50px; */
  list-style: none;
}

.comment button{
  margin-left: 5px;
}

.like-blue{
  background-color: lightskyblue;
}

.comment-form-input{
  height: 20px;
}
