.posts-section {
}

.new-post-form-section {
  display: grid;
  grid-template-columns: 70px 1fr;
  place-content: center center;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.user-form-input {
  border-radius: 5px;
}

.post-form {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 20px;
}

.profile-picture-container {
  text-align: left;
}

.single-post-author-img-container {
  margin-top: 0px;
}

.single-post {
  width: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.single-post-header {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  margin-bottom: 20px;
}

.name-and-date-container,
.single-post-content {
  text-align: left;
}

.single-post-content, .like-and-comment-container {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.name-and-date-container {
  margin-top: 3px;
}

.single-post-date {
  font-size: 0.7rem;
  color: rgb(217, 255, 159)
}

<<<<<<< HEAD
.single-post-edit-container {
=======
.comment-edit-container {
>>>>>>> main
  padding-top: 10px;
  padding-left: 20px;
}

<<<<<<< HEAD
.comment-edit-container {
  padding-left: 20px;
}

.single-post-edit,
=======
>>>>>>> main
.comment-edit-button {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0.25;
}

.like-and-comment-container {
  display: grid;
  grid-template-columns: 150px 150px 1fr auto;
  place-items: center;
}

.like-link-container,
.comment-link-container {
  place-items: center start;
  display: grid;
  grid-template-columns: 50px auto;
}

.like,
.comment {
  cursor: pointer;
}

.like-icon,
.comment-icon {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  line-height: 0.25;
  display: inline-block;
}

.like-link,
.comment-link {
  display: inline-block;
}

.add-new-comment-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 80px 1fr;
}
.home-page {
  margin-left: 110px;
  margin-right: 200px
}

.posts-list {
  margin: 0px;
  list-style: none;
}

.post-item {
  white-space: pre;
}

.previous-comments-container {
  padding-top: 20px;
  border-top: 1px solid white;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.previous-comments-link {
  cursor: pointer;
}

.comments-container {
  place-items: center start;
  display: grid;
  grid-template-columns: 50px auto 1fr;
  margin: 20px 0;
}

.comment-text {
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 30px;
}

.comment-edit-button, .editButton, .deleteButton {
  display: inline-block;
  margin-right: 20px;
}
.comment-text {
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 30px;
}
.single-post-edit-container {
}

.edit-delete-buttons {
  filter: invert() 
}
.edit-delete-buttons:hover {
  filter: invert() blur(2px);
  cursor: pointer
}
