.basic-info,
.training-info,
.contact-info,
.bio {
  display: flex;
  flex-direction: column;
}

.basic-info h2,
.training-info h2,
.contact-info h2,
.bio h2 {
  margin-top: 10px;
}

.edit--form__label {
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}

.edit--form__input {
  border-radius: 5px;
  padding-left: 5px;
  height: 30px;
  margin-bottom: 10px;
  background: #ddd;
}

.edit--form__select {
  height: 29px;
  margin-bottom: 10px;
  padding-left: 5px;
  background: #ddd;
}

.edit--form__select,
.edit--form__textarea {
  border-radius: 5px;
}

.edit-buttons {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-buttons-container {
  margin-top: -100px;
}
