.cohort-form {
  background-color: #282c34c9;

  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 10;
}

label {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  border-radius: 25px;
}

.submit-button {
  padding: 12px 36px;
  border-radius: 25px;
}

.exit-button {
  display: flex;
  background-color: #f24646;
  box-sizing: content-box;

  cursor: pointer;

  position: fixed;
  top: 0;
  right: 0;

  scale: 2;

  margin: 4rem 4rem 0 0;
  padding: 1rem;

  border-radius: 100%;
}
.cohort-start-end-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.submit-button {
  background-color: greenyellow;
}
