.teachers-list-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;
  margin: 16px;

  border-radius: 16px;
  border: 2px solid white;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
  overflow-x: hidden;
}
