.teacher-item-panel {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  cursor: pointer;
  align-items: center;

  border: 1px solid yellow;
  text-align: left;
}

.teacher-item-panel img {
  margin: 0.5rem;

  height: 40px;
  border-radius: 50%;
}

.teacher-name {
  /* Ellipses overflow */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
