.container {
  display: grid;
  grid-template:
    'students-header' auto
    'students-list' 1fr/
    1fr;
  padding: 1rem;
  border: 1px solid white;
  min-width: fit-content;
  height: fit-content;
  position: relative;
}
.students-header {
  grid-area: students-header;
  height: fit-content;
}
.students-list {
  grid-area: students-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 56px);
  padding-bottom: 70px;
  overflow-y: auto;
  gap: 6px;
}
.student-list-item {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  border: 1px solid slategray;
  border-radius: 6px;
  text-align: left;
  color: white;
  list-style: none;
  height: 56px;
  text-decoration: none;
  padding-right: 6px;
}

.link-student-item {
  display: flex;
  text-decoration: none;
  color: rgb(239, 239, 239);
  height: 100%;
  align-items: center;
}
.list-student-name {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: flex-start;
  padding-left: 10px;
  justify-self: center;
}
.header-list {
  margin: 0;
  height: fit-content;
}
.student-list-item img {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin: 0.5rem;
  height: 40px;
  border-radius: 50px;
}
.teacher-nav {
  width: 100%;
  display: flex;
  grid-column: auto;
  height: fit-content;
  justify-content: flex-end;
  align-content: center;
}

.btn-more-item,
.btn-more {
  border-radius: 50%;
  align-self: center;
  justify-self: flex-end;
  background-color: #166ac5;
  border: 1px solid rgba(27, 31, 35, 0.15);
  color: white;
  cursor: pointer;
}
.btn-more-item {
  margin-left: auto;
}

.all-btn,
.add-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 90px;
  height: 56px;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  margin-top: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  background-color: #166ac5;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  cursor: pointer;
  color: white;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-weight: 500;
  margin-right: 6px;
}
