.container {
  display: grid;
  height: 100vh;
  grid-template:
    ' studentSlist teachersList' auto
    'studentsList myExercises ' 40% /
    auto auto;
  border: 2px slategray solid;
  box-sizing: border-box;
}
.students-list {
  grid-area: studentSlist;
}
.teachers-list {
  grid-area: teachersList;
}
.exercises-list {
  grid-area: myExercise;
}
