.teachers-cohorts-title1 {
  margin-right: 250px;
}
.teachers-cohorts-content {
  margin: 5px 5px 0 96px;
  display: grid;
  grid-template-areas: 'list1 list2 ';
  grid-template-columns: 1fr 2fr;
  height: calc(100vh - 5px - 68.5px); /*The top spaces reduced*/
  border-radius: 5px;
}
.teachers-cohortlist {
  grid-area: list1;
  overflow-y: hidden;
}
.teachers-studentlist {
  grid-area: list2;
  overflow-y: hidden;
}
