.App {
  text-align: center;
}

.App-header {
  background-color: #2a2c30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 40px;
}

button{
  all: unset;
  color: white;
  background-color: #e07f72;
  border-radius: 3px;
  font-size: 13px;
}

.MuiButton-root{
  background-color: #15479c !important;

}

.search-bar{
  background-color: white;
  height: 25px;
}

.mainGridArea{
  display: grid;
  /* height: 100%; */
  grid-template-columns: 1fr 4fr;
  grid-template-areas:

  "sidebar main-col " ;
}
.main-col {
  grid-area: main-col;
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  grid-area: sidebar;
}
